<% flashed_errors(:user) %>
<p>
  <b>Login</b><br />
  <%= text_field 'user', 'login', :style =>'width:330px;' %>
</p>

<p>
  <b>Email</b><br />
  <%= text_field 'user', 'email', :style =>'width:330px;' %>
</p>

<% unless WebistranoConfig[:authentication_method] == :cas -%>
<p>
  <b>Password</b><br />
  <%= password_field 'user', 'password', :style =>'width:330px;' %>
</p>

<p>
  <b>Password confirmation</b><br />
  <%= password_field 'user', 'password_confirmation', :style =>'width:330px;' %>
</p>
<% end -%>

<p>
  <b>Timezone</b><br />
  <%= time_zone_select 'user', :time_zone, ActiveSupport::TimeZone.all, {},{:style => "width:330px;"} %>
</p>

<% if logged_in? && current_user.admin? -%>
  <p>
    <b>Admin?</b><br />
    <%= check_box 'user', 'admin', :class => 'noframe' %>
  </p>

  <p>
    <b>Roles:</b><br />
    <%= check_box_tag 'user[roles][user]', 1, @user.roles && @user.roles.include?('user'), :class => 'noframe' %>user
    <%= check_box_tag 'user[roles][dev]', 1, @user.roles && @user.roles.include?('dev'), :class => 'noframe' %>dev
    <%= check_box_tag 'user[roles][production]', 1, @user.roles && @user.roles.include?('production'), :class => 'noframe' %>production
    <%= check_box_tag 'user[roles][admin]', 1, @user.roles && @user.roles.include?('admin'), :class => 'noframe' %>admin
  </p>
<% end -%>
